<div class="content-wrapper">
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript: return false;">Home</a>
      </li>
      <li class="breadcrumb-item">
        Pesquisa de usuários
      </li>
    </ol>
    
    <div class="col-12"> 
        
      <!-- conteúdo da página -->
      <form #formUsuarios="ngForm" novalidate>

        <h4>PESQUISA DE USUÁRIOS</h4>

        <app-mensagens [mensagem]="mensagem"></app-mensagens>
        
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label form="estado">Estado</label><br />
              <select name="estado" 
                      [(ngModel)]="usuario.estado" 
                      #estado="ngModel"
                      class="form-control">
                  <!-- <option *ngFor="let estado of estados" value="{{estado.chave}}">{{estado.valor}}</option> -->
                  <option *ngFor="let estado of estadosBR_O | async" value="{{estado.chave}}">{{estado.valor}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label form="email">Email</label>
              <input  name="email" 
                      id="email" 
                      [(ngModel)]="usuario.email"
                      #email="ngModel"
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                      class="form-control" 
                      placeholder="Pesquise por email" 
                      aria-describedby="emailHelp"/>
              <small id="emailHelp" class="form-text text-muted">Ex.: seuemail@seudominio.com</small>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label form="nome">Nome</label>
              <input  name="nome" 
                      id="nome" 
                      [(ngModel)]="usuario.nome"
                      #nome="ngModel"
                      class="form-control" 
                      placeholder="Pesquise por nome" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7"></div>
          <div class="col-2">
            <input 
              type="submit"
              (click)="pesquisar()"
              value="Pesquisar"
              [disabled]="!formUsuarios.form.valid"
              class="btn btn-primary btn-block"
              style="width: 150px;">
          </div>
          <div class="col-2">
            <button 
              type="button" 
              onclick="window.history.back(-1)"
              class="btn btn-secondary"
              style="width: 150px;">Voltar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
            <div *ngIf="isListaDeUsuariosVazia()">
              {{mensagemGrid}}
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isListaDeUsuariosVazia()">
          <div class="col-12">
            <h5>Lista de usuários</h5>
            <table class="table table-sm">
              <thead class="thead-light">
              <tr>
                <th>Nome</th>
                <th>Apelido</th>
                <th></th>
              </tr>
              </thead>
              <tr *ngFor="let usu of listaDeUsuarios">
                <td>{{usu.nome}}</td>
                <td>{{usu.apelido}}</td>
                <td>
                  <button *ngIf="!usu.amigo" type="button" (click)="colocarComoAmigo(usu)" class="btn btn-primary btn-sm" style="width: 200px;">Colocar como amigo</button>
                  <button *ngIf="usu.amigo" type="button" (click)="retirarComoAmigo(usu)" class="btn btn-warning btn-sm" style="width: 200px;">Retirar como amigo</button>
                  &nbsp;<button type="button" (click)="avaliar(usu)" class="btn btn-primary btn-sm" style="width: 150px;">Avaliar</button>
                  &nbsp;<button type="button" (click)="exibirEstatisticas(usu)" class="btn btn-primary btn-sm" style="width: 150px;">Estatísticas</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button 
                type="button" 
                onclick="window.history.back(-1)"
                class="btn btn-secondary btn-sm"
                style="width: 150px;">Voltar</button>
          </div>
        </div>
        <div class="row"></div>
      </form>
      <!-- fim do conteúdo -->

    </div>

  </div>
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright TopSpin 2019</small>
      </div>
    </div>
  </footer>
</div>
