<div class="content-wrapper">
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript: return false;">Home</a>
      </li>
      <li class="breadcrumb-item">
        Página não encontrada
      </li>
    </ol>

    <div class="col-12">
      <div class="card border-info">
        <div class="card-header text-center"><h2>Página não encontrada</h2></div>
        <div class="card-body bg-light">
          <h5>
            Verifique a url informada!!!
          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
