<div class="content-wrapper">
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript: return false;">Home</a>
      </li>
      <li class="breadcrumb-item">
        Meus amigos
      </li>
    </ol>

    <div class="col-12">

      <!-- conteúdo da página -->
      <form #formUsuarios="ngForm" novalidate>

        <h4>MEUS AMIGOS</h4>

        <app-mensagens [mensagem]="mensagem"></app-mensagens>

        <div class="row" *ngIf="!isListaDeAmigosVazia()">
          <div class="col-12">
            <h5>Lista de amigos</h5>
  
            <table class="table table-sm">
              <thead class="thead-light">
              <tr>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Ação</th>
              </tr>
              </thead>
              <tr *ngFor="let usu of listaDeAmigos">
                <td>{{usu.nome}}</td>
                <td>{{usu.apelido}}</td>
                <td>
                  <button type="button" (click)="retirarComoAmigo(usu)" class="btn btn-warning btn-sm" style="width: 150px;">Retirar como amigo</button>
                  &nbsp;<button type="button" (click)="convidarParaJogar(usu)" class="btn btn-primary btn-sm" style="width: 150px;">Convidar para jogar</button>
                  &nbsp;<button type="button" (click)="avaliar(usu)" class="btn btn-primary btn-sm" style="width: 150px;">Avaliar</button>
                  &nbsp;<button type="button" (click)="exibirEstatisticas(usu)" class="btn btn-primary btn-sm" style="width: 150px;">Estatísticas</button>&nbsp;
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button 
                type="button" 
                onclick="window.history.back(-1)"
                class="btn btn-secondary btn-sm"
                style="width: 150px;">Voltar</button>
          </div>
        </div>
      </form>
      <!-- fim do conteúdo -->

    </div>
  </div>
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright TopSpin 2019</small>
      </div>
    </div>
  </footer>
</div>
  