<div class="content-wrapper">
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript: return false;">Home</a>
      </li>
      <li class="breadcrumb-item">
        Página de erro
      </li>
    </ol>

    <div class="col-12">
      <div class="card border-info">
        <div class="card-header text-center"><h2>{{erroGlobal.status}}</h2></div>
        <div class="card-body text-center bg-light">
            <h4>
                {{erroGlobal.data}}<br />
                {{erroGlobal.path}}<br />
                {{erroGlobal.mensagem}}<br />
                {{erroGlobal.causa}}<br />
                {{erroGlobal.stackTrace}}
            </h4>
        </div>
      </div>
    </div>

  </div>
</div>
