<div class="content-wrapper">
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript: return false;">Home</a>
      </li>
      <li class="breadcrumb-item">
        Página de erro
      </li>
    </ol>

    <div class="col-12">
      <div class="card border-info">
        <div class="card-header text-center"><h2>{{erroGlobal.status}}</h2></div>
        <div class="card-body text-center bg-light">
            <h5>
                <p>Data: <br />{{erroGlobal.data}}</p>
                <p>Path: <br />{{erroGlobal.path}}</p>
                <p>Mensagem: <br />{{erroGlobal.mensagem}}</p>
                <p>Causa: <br />{{erroGlobal.causa}}</p>
                <p>StackTrace: <br />{{erroGlobal.stackTrace}}</p>
            </h5>
        </div>
      </div>
    </div>

  </div>
</div>
