<div class="content-wrapper">
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript: return false;">Home</a>
      </li>
      <li class="breadcrumb-item">
        Página de erro
      </li>
    </ol>

    <div class="col-8">
      <div class="card border-warning">
        <div class="card-header text-center">{{erroGlobal.data}}</div>
        <div class="card-body text-center bg-warning"><h3>{{erroGlobal.status}}</h3></div>
      </div>
    </div>

  </div>
</div>
